//   ----------------------SideBar----------------------
.container-fluid{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    // width: 1920px;
    width:100%;
    height: 1008px;
    left: 0px;
    // top: 72px;

}

.main{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    // width: 1560px;
    height: 1008px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}
.SideBar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 360px;
    height: 1008px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.SideBar-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 360px;
    height: 1008px;

    background: #F4F5F8;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    .title{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;

        width: 110px;
        height: 18px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        span{
            width: 110px;
            height: 18px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height, or 129% */

            text-align: center;

            /* Gray 4 */

            color: #BDBDBD;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;
        }
    }
    .drop-area{
        box-sizing: border-box;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 66px;
        gap: 8px;

        width: 312px;
        height: 244px;

        /* Gray/300 */

        border: 1px dashed #D1D5DB;
        border-radius: 4px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 12px;

            width: 200px;
            height: 156px;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;
        }
    }
}
.icon{
    width: 56px;
    height: 56px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title-subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 200px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    .title-blue{

        width: 200px;
        height: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #0052CC;

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .subtitle{
        width: 152px;
        height: 16px;

        /* Body 12/Regular */

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */

        text-align: center;
        letter-spacing: 0.005em;

        /* Gray/500 */

        color: #6B7280;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 200px;
    height: 36px;

    /* Primary */

    background: #0D6EFD;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    span{
        width: 118px;
        height: 20px;
        
        /* Label 14/Medium */
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */
        
        display: flex;
        align-items: center;
        letter-spacing: 0.005em;
        
        /* White */
        
        color: #FFFFFF;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}