.container {
    width: 100%;
    height: 100%;
    // background-color: red;
    opacity: 0.4;
    border: solid red 1px;
    position :absolute;
}
.svg{
    width:100%;
    height:100%;
}
.rect {
    fill: red;
    stroke: #8332EB solid;
    stroke-width: 10.43666;
    fill-opacity: 1;
    stroke-opacity: 1;
    // opacity: 1;
    :focus{
        cursor: move;
    }
    z-index: 20;
    :hover{
        fill: blue;
        cursor: move
    }
}
.input-tag {
    margin:0;
    padding:0;
    fill : #8332EB;
    
    .input-tag--inner {
        margin: 0;
        padding: 0;
        height: auto;
        overflow: hidden;
        background-color: blue;
        color:white;
        font-size: 12px;
}
}
foreignObject{
    width: 100;
}

// .rect--active{

// }
