.temp {
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 24px;
    gap: 12px;
    width: 720px;
    margin: 0px auto;
    height: 720px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}
.upload-image{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 720px;
    // height: 80%;
    background: #F4F5F8;
    border-radius: 12px;
    order: 0;
    // align-self: stretch;
    // flex-grow: 0;
    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;

        width: 672px;
        height: 18px;


        /* Inside auto layout */

        flex: none;
        // order: 0;
        align-self: stretch;
        flex-grow: 0;
        .title-1{
            // width: 106px;
            height: 18px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height, or 129% */

            text-align: center;

            /* Gray 4 */

            color: #BDBDBD;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;
        }
        .title-2{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            
            width: 76px;
            height: 18px;
            border:none;
            background-color: transparent;
            
            /* Inside auto layout */
            
            flex: none;
            order: 1;
            flex-grow: 0;
            span{
                width: 76px;
                height: 18px;

                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                /* identical to box height, or 129% */

                text-align: center;

                /* Primary */

                color: #0052CC;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }

    }
    .document-preview{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 672px;
        height: 642px;
        // height: 80%;
        /* Inside auto layout */
        flex: none;
        // order: 1;
        flex-grow: 0;
        position: relative;
        .preview{
            width: 672px;
            height: 504px;
            // background: url(image.png);
            /* Inside auto layout */
            // margin: auto
            // border: solid 1px red;
            flex: none;
            // order: 0;
            flex-grow: 0;
            // img{
            //     width: 100%;
            //     height: 100%;
            // }
            display:flex;
            img {
                object-fit: contain;
                width: 100%;
                height:100%;
                margin:auto;
            }
        }
        .list {
            display: flex;
            flex-direction: row;
            // align-items: flex-start;
            padding: 24px 12px;
            gap: 16px;

            width: 672px;
            height: 138px;
            

            background: #DDE3F3;

            /* Inside auto layout */

            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
            .btn-nav{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0px;
                gap: 10px;
                width: 44px;
                height: 90px;
                /* Inside auto layout */
                flex: none;
                background-color: transparent;
                border:none;
                
                align-self: stretch;
                flex-grow: 1;
                .btn-pred {
                    order:0;
                }
                .btn-next {
                    order:5;
                }
            }
            .default-img{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;

                width: 120px;
                height: 90px;

                /* Inside auto layout */
                flex: none;
                // order: 2;
                flex-grow: 0;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    .tool{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 4px;

        width: 672px;
        height: 48px;

        /* Black */

        background: #141F34;
        border-radius: 4px;

        /* Inside auto layout */

        flex: none;
        // order: 2;
        align-self: stretch;
        flex-grow: 0;
        .tool-items {
            height: 100%;
            
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
            &:hover {
                opacity: 0.5;
                cursor: pointer;
            }

        }
    }
}
.btn-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px;
    gap: 10px;

    width: 720px;
    height: 80px;


    /* Inside auto layout */

    flex: none;
    // order: 1;
    align-self: stretch;
    flex-grow: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 40px;
    gap: 10px;

    width: 142px;
    height: 56px;

    /* Primary */

    background: #0052CC;
    border-radius: 12px;


}
.img--active{
    img{
    border: 5px solid #0052CC;
    }
}
.tool-items--active {
    background-color: #0052CC;
}

.Modal{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:200;
    background-color: rgba(0,0,0,0.5);
    .Modal__content{
        height: 200px;
        width: 500px;
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-items: stretch;
        align-items: stretch;
        transform: translateY(-100px);
        border-radius: 10px;
    }
}
.Modal__title{
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    span{
        font-size: 18px;
        text-align: center;
    }
    border-bottom: solid 1px gray;
}
.Modal__body{
    height: 80px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    border-bottom: solid 1px gray;
    
    input{
        height: 27px;
        border-radius: 5px;
        border:  #F4F5F8 solid;
        outline: none;
        background-color: #F4F5F8;
        
    }
}
.Modal__footer{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding-right: 20px;
}
.sidebar{
    // width: 260px;
    width: 360px;
    height: calc(100vh - 70px);
    background-color:  #F4F5F8;;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    .sidebar__content{
        // width: 244px;
        width: 340px;
        gap: 8px;
        display: flex;
        flex-direction: column;
        // background-color: red;
        .sidebar__title{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            // width: 212px;
            // width: 270px;
            height: 24px;
            flex-grow: 0;
            .sidebar__title__span{
                // width: 188px;
                // width: 246px;
                height: 18px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                color: #BDBDBD;
                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 1;
            }
            .sidebar__title__plus{
                // display: none;
                cursor: pointer;
                width: 24px;
                height: 24px;
                /* Inside auto layout */
                flex: none;
                flex-grow: 0;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .sidebar__labels{
            display: flex;
            flex-direction: column;
            gap: 8px;
            // width: 212px;
            width: 300px;
            

            .sidebar__labels__items{
                position: relative;
                .delete{
                    display:none;
                    cursor: pointer;
                    position: absolute;
                    left:-40px;
                    background-color:transparent;
                    
                    width: 40px;
                    height:40px;
                    background-color: gray;
                    border-radius: 50%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        
                    }
                }

                display: flex;
                border-radius: 4px;
                align-items: center;
                background-color: #0052CC;
                padding: 10px 12px;
                align-self: stretch;
                gap: 12px;
                .sidebar__labels__items__number{
                    padding: 0px 4px;
                    background: rgba(255, 255, 255, 0.4);
                    border-radius: 2px;
                }
                .sidebar__labels__items__text{
                    background-color: transparent;
                    outline: none;
                    border: none;
                    color:white;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    max-width: 210px;
                    // flex-basis: 0.9;
                    flex-grow: 1;
                }
                .sidebar__labels__items__circle{
                    &:hover{
                        cursor: pointer;
                    }
                    background-color: white;
                    border-radius: 50%;
                    width: 24px;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
            
            flex-grow: 1;
        }
    }
    
}