.input_ID{
    background-color: #0D6EFD;
    color: white;
    outline: none;
    border:none;
    width: 60px;
}
.untoggled-button-active {
    background-color: white !important; 
}

.logout-btn{
    transform: translateX(-100px);
}
// .NavBar--Header{
//     transition: translateX(2000px);
// }