.input_ID{
    background-color: #0D6EFD;
    color: white;
    outline: none;
    border:none;
    width: 60px;
}
.untoggled-button-active {
    background-color: white !important; 
    // :hover{

    //     opacity: 0.5 !important;
    // }
}
  